
            <!--
            <nav class="navbar header-navbar pcoded-header">
            -->
            <nav class="navbar header-navbar pcoded-header iscollapsed" header-theme="theme1" pcoded-header-position="fixed">            
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="javascript:;">
                            <i class="ti-menu"></i>
                        </a>
                        <a class="mobile-search morphsearch-search" href="javascript:;">
                            <i class="ti-search"></i>
                        </a>
                        <a href="/dashboard">
                            <img class="" height="70px" width="180px" src="assets/images/logo.png" alt="Theme-Logo" />
                        </a>
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <!-- <div class="nav-left mt-4 ml-5">
                            <div class="pcoded-search">
                                <span class="searchbar-toggle"></span>
                                <div class="pcoded-search-box">
                                    <input type="text" placeholder="Search">
                                    <span class="search-icon"><i class="ti-search" aria-hidden="true"></i></span>
                                </div>
                            </div>                            
                        </div> -->
                        <ul class="nav-right">
                            <!-- <li>
                                <button class="btn btn-warning btn-outline-warning btn-orange">CREATE SUB ADMIN</button>
                            </li> -->
                            <li class="user-profile header-notification">
                                <a href="javascript:;">
                                    <img src="{{imageUrl}}" class="img-radius img-radius user-image" alt="User-Profile-Image">
                                    <span>{{(user?.name)? user?.name : "Admin"}}</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li>
                                        <a href="javascript:;" routerLink="/profile">
                                            <i class="ti-user"></i> Profile
                                        </a>
                                    </li>
                                    <!-- <li>
                                        <a href="#">
                                            <i class="ti-email"></i> My Messages
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-lock"></i> Lock Screen
                                        </a>
                                    </li> -->
                                    <li>
                                        <a href="javascript:;"  (click)="logout()" >
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            